[Unit]
Description=Portfolio Website
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/portfolio
Environment="PATH=/home/ubuntu/portfolio/venv/bin"
ExecStart=/home/ubuntu/portfolio/venv/bin/gunicorn --workers 4 --bind unix:portfolio.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target 